<div id="footer" class="navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="pull-right">
                <span class="text-muted">
                    <a class="hidden-xs" href="http://www.webfactory-i4.de/de/impressum/" target="_blank">Impressum | </a>
                    <a class="hidden-xs" href="http://www.webfactory-i4.de/" target="_blank">&copy;&nbsp;WEBfactory GmbH | </a>
                    Version <span data-bind="text: version"></span>
                   
                </span>
                <wf-watchdog class="inline-block b-l p-l-md m-l" params="onlineClass: 'wf wf wf-server-1 running', 
                offlineClass: 'wf wf-server-1-off error'"></wf-watchdog>
            </div>
            </div>
        </div>
    </div>
</div>
