<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 hidden-xs">
            <div>
                <img src="./ContentCowi/images/CCW-Logo_380px_96dpi.png" class="img-responsive" alt="">
            </div>
        </div>
        <div class="col-xs-12 col-sm-6">
            <div>
                <div id="text_beschreibung">
                    <span style="color:#FF0000; font-size:60px;; font-weight:bold; font-family:Arial;">Brötchen 3240</span>
                    <span style="color:#000000; font-size:30px; font-family:Arial">
                        <br>Kontikneter
                        <br>
                        <br>
                    </span>
                </div>
                <div id="text_wf2010" style="color:rgba(250, 128, 114, 0.466);font-family:Arial;">
                    <span>i4SCADA, HTML5</span>
                    <div>App-Version:
                        <span id="appVersion"></span>
                    </div>
                    <div>
                        Build-Datum:
                        <span id="buildDate">Build-Date</span>
                    </div>
                    <!-- <div>
                        <a class="wf wf-download" href="http://wf-broet3240/vdi-tec-3160-01.rdp" download>
                            Management-VM Linie 3160
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="textProzessVisu">
                Prozess-Visualisierung
            </div>
        </div>
    </div>

</div>
</div>