<div id="main-wrapper" style="height: 100%">
    <!--Main content area - essential part-->
    <div class="page-host">
        <section id="content" class="main" data-bind="router: { transition: 'entrance' }"></section>
    </div>

    <!-- Content below is not essential for the application and can be replaced or removed -->
    <div class="loader" data-bind="css: { active: router.isNavigating }"></div>

    <div>
        <!--ko compose: 'src/viewModels/footer' --><!--/ko-->

        <!--Collapsible content boxes will be placed below -->
        <div id="wf-app-settings-bar" class="wf-app-settings-bar btn-group hidden-xs">
            <button class="btn" data-toggle="collapse" data-target="#app-settings" aria-expanded="false" aria-controls="app-settings">
                <i class="wf wf-cogs"></i>
            </button>

            <button class="btn" data-toggle="collapse" data-target="#app-testsignals" aria-expanded="false" aria-controls="app-testsignals">
                <i class="fa fa-power-off"></i>
            </button>
        </div>
    </div>

    <div class="wf-app-settings-wrapper">
        <div id="app-settings" class="wf-app-settings collapse">
            <div class="wf-collapse-content">
                <h5>Position für die Navigationsleiste</h5>
                <div class="btn-group btn-group-sm">

                    <button class="btn btn-default" data-bind="click: function() { setNavbarType('navbar-left')}, css: {'btn-primary': (navbarClass() === 'navbar-left') }">
                        <svg viewBox="0 0 2000 2000">
                            <path d="M0 0v2000h2000V0H0zm1857.143 1857.143H660.5V142.857h1196.643v1714.286z" />
                        </svg>
                        Sidebar
                    </button>

                    <button class="btn btn-default" data-bind="click: function() { setNavbarType('navbar-top')}, css: {'btn-primary': (navbarClass() === 'navbar-top')  }">
                        <svg viewBox="0 0 2000 2000">
                            <path d="M0 0v2000h2000V0H0zm142.857 1857.143V472.5h1714.285v1384.643H142.857z"/>
                        </svg>
                        Topbar
                    </button>

                    <button class="btn btn-default" data-bind="click: function() { setNavbarType('navbar-bottom')}, css: {'btn-primary': (navbarClass() === 'navbar-bottom navbar-fixed-bottom')  }">
                        <svg viewBox="0 0 2000 2000" style="transform: scaleY(-1)">
                            <path  d="M0 0v2000h2000V0H0zm142.857 1857.143V472.5h1714.285v1384.643H142.857z" />
                        </svg>
                        Footer
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>