<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-alarm-viewer</span></a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfAlarmStateManager_Component_Header")()}}</h4>
                            <pre class="prettyprint">&lt;wwf-alarm-state-manager params="height: 300" &gt;&lt;/wf-alarm-state-manager&gt;</pre>
                        </div>

                        <div class="col-xs-12">
                            <wf-alarm-state-manager params="height: 300"></wf-alarm-state-manager>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 m-t-md">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <wf-language-selector class="pull-right wf-panel-toolbar" params="dropdownAlignment: 'right'"></wf-language-selector>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                        <th>{{connector.translate("I4SCADA_Type")()}}</th>
                        <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                        <th>{{connector.translate("I4SCADA_Description")()}}</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                    <tr data-bind="css: {'wf-deprecated': $data.deprecated}">
                        <td data-bind="text: name"></td>
                        <td data-bind="text: type"></td>
                        <td>
                            <!-- ko if: defaultValue.indexOf('#') !== -1 -->
                            <span class="wf-1x inline-block round"  style="transform: translateY(3px)" data-bind="style: {'background-color': defaultValue} "></span>
                            <!-- /ko -->
                            <span data-bind="text: defaultValue"></span>
                        </td>
                        <!-- ko if: $parent.selectedLanguageId() === 7 -->
                        <td data-bind="text: description"></td>
                        <!-- /ko -->
                        <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9 -->
                        <td data-bind="text: descriptionEN"></td>
                        <!-- /ko -->
                    </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <h5>* Alarm columns / fields</h5>
                    <div data-bind="foreach: alarmColumns">
                        <span style="margin-bottom: 5px; display: inline-block" class="label label-black" data-bind="text: $data"></span>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>