<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12"
            data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab"
                        data-toggle="tab">Component <span class="label label-warning">wf-input</span></a></li>
            </ul>
            <div role="tabpanel" class="tab-pane active" id="componentTab">
                <div class="row">
                    <div class="col-xs-12">
                        <h4>{{connector.translate("I4SCADA_scwfInputValue_Component_Header")()}}</h4>
                        <br />
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <wf-input params="signalName: 'Setpoint 1', unitLabel: true"></wf-input>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8">
                        <div class="animated">
                            <pre
                                class="prettyprint">&lt;wf-input params="signalName: 'Setpoint 2', unitLabel: true"&gt;&lt;/wf-input&gt;</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <wf-language-selector class="pull-right wf-panel-toolbar" params="dropdownAlignment: 'right'">
                    </wf-language-selector>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7 -->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <wf-input params="signalName: 'Setpoint 1'"></wf-input>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <wf-input params="signalName: 'Setpoint 2', unitLabel: true"></wf-input>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <wf-input
                            params="signalName: 'Setpoint 3', signalNameLabel: true, unitLabel: true, inputSize: 'sm'">
                        </wf-input>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <wf-input
                            params="signalName: 'Setpoint 1', signalNameLabel: true, label: 'Label', iconClass: 'fa fa-flask', displayClass: 'label-info', inputSize: 'lg'">
                        </wf-input>
                    </div>
                    <div class="col-sm-6 ">
                        <label>popover 'Top' (default)</label>
                        <wf-input
                            params="signalName: 'Setpoint 3', signalNameLabel: true, unitLabel: true, staticUnitText: '°C', inputSize: 'sm', popoverPosition: 'top'">
                        </wf-input>
                        <label>popover 'Right'</label>
                        <wf-input
                            params="signalName: 'Setpoint 3', signalNameLabel: true, unitLabel: true, staticUnitText: '°C', inputSize: 'sm', popoverPosition: 'right'">
                        </wf-input>
                    </div>
                    <div class="col-sm-6 ">
                        <label>popover 'Bottom'</label>
                        <wf-input
                            params="signalName: 'Setpoint 3', signalNameLabel: true, unitLabel: true, staticUnitText: '°C', inputSize: 'sm', popoverPosition: 'bottom'">
                        </wf-input>
                        <label>popover 'Left'</label>
                        <wf-input
                            params="signalName: 'Setpoint 3', signalNameLabel: true, unitLabel: true, staticUnitText: '°C', inputSize: 'sm', popoverPosition: 'left'">
                        </wf-input>
                    </div>
                    <div class="col-xs-12">
                        <wf-input params="signalName: 'Setpoint 1', unitLabel: true, additionalCssForPendingAnimation: 'label-warning'"></wf-input>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Write_Secure")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-input class="col-lg-3" params="signalName: 'Setpoint 1', unitLabel: true, writeSecure: true">
                    </wf-input>
                </div>
            </div>
        </div>

    </div>
</div>