<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-logtag-analytics</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfLogTagAnalytics_Component_Header")()}}</h4>
                            <br />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-xs-12">
                            <wf-logtag-analytics params="maxLabelText: 'Max Label Text', minLabelText: 'Min Label Text', avgLabelText: 'Avg Label Text', logTags : [{ signalName: 'Level 1', logTagName: 'LogTagLevel1'},{ signalName: 'Temperature 1', logTagName: 'LogTagTemp1_10sec'} ]"></wf-logtag-analytics>
                        </div>
                        <div class="col-lg-7 col-md-6 col-xs-12">
                            <div>
                                <pre class="prettyprint">
&lt;wf-logtag-analytics 
        params=&quot;logTags:[{ signalName: &#39;Level 1&#39;, logTagName: &#39;LogTagLevel1&#39;},
                         { signalName: &#39;Temperature 1&#39;, logTagName: &#39;LogTagTemp1_10sec&#39;}]&quot;&gt;
&lt;/wf-logtag-analytics&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <wf-language-selector class="pull-right wf-panel-toolbar" params="dropdownAlignment: 'right'"></wf-language-selector>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>