<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
               <!-- <li role="presentation"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfStateIndicator</span></a></li>-->
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-state-indicator</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfStateIndicator_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-1 col-lg-2">
                            <wf-state-indicator params="stateSignalName1: 'Setpoint 1', maskSignal1: 1"></wf-state-indicator>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-11 col-lg-10">
                            <div>
                                <pre class="prettyprint">
&lt;wf-state-indicator params=&quot;stateSignalName1: &#39;Setpoint 1&#39;, maskSignal1: 1&quot;&gt;&lt;/wf-state-indicator&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <wf-language-selector class="pull-right wf-panel-toolbar" params="dropdownAlignment: 'right'"></wf-language-selector>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">


                        <div class="col-lg-4 col-md-7 col-sm-12">
                            
                            <pre class="prettyprint">
&lt;wf-state-indicator params=&quot;&quot;&gt;
   [...]
&lt;/wf-state-indicator&gt;</pre>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Indicator + Icons</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <wf-state-indicator class="indicator-lg inline-block" params="stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', iconClass: 'wf wf-fan'"></wf-state-indicator>
                            <wf-state-indicator class="indicator-md inline-block" params="stateSignalName2: 'Setpoint 1', maskSignal2: 3, operator2: '<=', iconClass: 'wf wf-server'"></wf-state-indicator>
                            <wf-state-indicator class="indicator-sm inline-block" params="stateSignalName3: 'Setpoint 1', maskSignal3: 3, operator3: '<=', iconClass: 'wf wf-tank-horizontal' "></wf-state-indicator>
                            <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName4: 'Setpoint 1', maskSignal4: 3, operator4: '<=', iconClass: 'wf wf-drop'"></wf-state-indicator>
                            
                            <wf-state-indicator class="indicator-lg inline-block" params="stateSignalName5: 'Setpoint 1', maskSignal5: 3, operator5: '<=', iconClass: 'wf wf-flash'"></wf-state-indicator>
                            <wf-state-indicator class="indicator-md inline-block" params="stateSignalName6: 'Setpoint 1', maskSignal6: 3, operator6: '<=', iconClass: 'wf wf-blower'"></wf-state-indicator>
                            <wf-state-indicator class="indicator-sm inline-block" params="stateSignalName7: 'Setpoint 1', maskSignal7: 3, operator7: '<=', iconClass: 'wf wf-light-bulb-eco'"></wf-state-indicator>
                            <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName8: 'Setpoint 1', maskSignal8: 3, operator8: '<=', iconClass: 'wf wf-fan-symbol' "></wf-state-indicator>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-state-indicator class="indicator-lg inline-block" params="stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: '-lg'"></wf-state-indicator>
                    <wf-state-indicator class="indicator-md inline-block" params="stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'md'"></wf-state-indicator>
                    <wf-state-indicator class="indicator-sm inline-block" params="stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'sm'"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'xs'"></wf-state-indicator>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{connector.translate("I4SCADA_Binary_Operator")()}}
                        (<wf-value params="signalName: 'Local Second'"></wf-value>)
                    </h3>
                </div>
                <div class="panel-body">
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 128"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 64"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 32"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 16"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 8"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 4"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 2"></wf-state-indicator>
                    <wf-state-indicator class="indicator-xs inline-block" params="stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 1"></wf-state-indicator>
                </div>
            </div>
        </div>
    </div>
</div>