<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-slider</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSlider_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-6 m-y">
                            <div class="m-x">
                                <wf-slider params="signalName: 'Setpoint 1'"></wf-slider>
                            </div>
                        </div>
                        <div class="col-sm-6 m-y">

                            <pre class="prettyprint">
&lt;wf-slider params=&quot;signalName: &#39;Setpoint 1&#39;&quot;&gt;&lt;/wf-slider&gt;</pre>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <wf-language-selector class="pull-right wf-panel-toolbar" params="dropdownAlignment: 'right'"></wf-language-selector>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <h5 class="panel-title m-b-lg">{{connector.translate("I4SCADA_Examples_Scale_Linear")()}}</h5>
                    <wf-slider class="block m-x-md" params="signalName: 'Setpoint 1', showTickLabels:true, minRange: -50, maxRange: 50"></wf-slider>
                    <wf-slider class="block m-x-md" params="signalName: 'Setpoint 1', showTickLabels:true, step: 25, minRange: -500, maxRange: 500"></wf-slider>

                    <div class="m-y-lg"></div>

                    <h5 class="panel-title m-b-lg">{{connector.translate("I4SCADA_Examples_Scale_Logarithmic")()}}</h5>
                    <wf-slider class="block m-x-md" params="signalName: 'Setpoint 1', showTickLabels:true, scale:'logarithmic'"></wf-slider>
                    <wf-slider class="block m-x-md" params="signalName: 'Setpoint 1', showTickLabels:true, scale:'logarithmic',  maxRange: 500"></wf-slider>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Color")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-slider class="block m-x" params="signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-primary'"></wf-slider>
                    <wf-slider class="block m-x" params="signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-info'"></wf-slider>
                    <wf-slider class="block m-x" params="signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-success'"></wf-slider>
                    <wf-slider class="block m-x" params="signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-warning'"></wf-slider>
                    <wf-slider class="block m-x" params="signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-danger'"></wf-slider>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Handle")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-slider class="block" params="signalName: 'Setpoint 1', handle:'round'"></wf-slider><br />
                    <wf-slider class="block" params="signalName: 'Setpoint 1', handle:'triangle'"></wf-slider><br />
                    <wf-slider class="block" params="signalName: 'Setpoint 1', handle:'square'"></wf-slider><br />

                    <h5 class="panel-title">{{connector.translate("I4SCADA_Examples_Handle_Custom")()}}</h5>
                    <wf-slider class="wf-slider-fan" params="signalName: 'Setpoint 1', handle:'custom'"></wf-slider><br />
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Tooltip")()}}</h3>
                </div>
                <div class="panel-body">
                    <h5 class="panel-title m-b-xlg">{{connector.translate("I4SCADA_Examples_Tooltip_With")()}}</h5>
                    <wf-slider params="signalName: 'Setpoint 1', tooltip: 'always'"></wf-slider><br />

                    <h5 class="panel-title m-y">{{connector.translate("I4SCADA_Examples_Tooltip_WithOut")()}}</h5>
                    <wf-slider params="signalName: 'Setpoint 1', tooltip: 'hide'"></wf-slider><br />
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Write_Secure")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-slider params="signalName: 'Setpoint 1', writeSecure: true "></wf-slider>
                </div>
            </div>
        </div>

    </div>
</div>