<style>
    /* globale CSS mit Hintergund überschreiben */
    body {
        background-image: url('ContentCowi/images/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
    }

    wf-user-login {
        padding-left: 1em;
    }

    .header-title {
        flex-grow: 1;
        text-align: center;
        color: rgb(114, 180, 255);
        font-size: 3em;
        margin: 0;
    }
</style>
<div class="container-fluid">

    <div class="header-container">
        <wf-user-login params=""></wf-user-login>
        <p class="header-title">Rezeptdialog Linie 3240</p>
        <div class="button-container">
        <a href="https://app-visu-02-p/ccwfaultcommit/index.html?resid=7324123" target="_blank" rel="noopener"
            class="wf-user-login-btn btn" data-bind="text: alarmTxt, css: alarmCount() > 0 ? 'btn-danger' : 'btn-default'">
        </a>
        </div>        
    </div>

    <hr>
    <rez-dlg-pa-only class="ccw_context" params="serverName:'wf-broet3240\\I4SCADA', databaseName: 'broet3240',
        signalNameRezNr: 'VMI3240DB4DBD156',
        signalNamePaNr: 'VMI3240DB4DINT128',
        signalNameProdTyp: 'VMI3240DB4B126',
        signalNameSpsCnfg : 'VMI3240DB4INT138',
        signalNameRework: null,
        signalNamePaStart: 'VMI3240DB4W110DT',
        signalNamePaStop: 'VMI3240DB4W118DT',
        signalNamePlanLeistung: 'VMI3240DB4DINT132',
        signalNameFaktor: null,
        signalNameGebindeanzahl: 'VMI3240DB4INT136',
        signalNameNetzNr: 'VMI3240DB4DINT140',
        signalNameSollNachlauf: null,
        signalNameIstNachlauf: null,
        werk: 2,
        halle: 3,
        etage: 2,
        linie: 4,
        maschine: 40,
        anlagenNr: 7324002,
        zaehlerNr: 7324120,
        abteiNr: 250
        ">
    </rez-dlg-pa-only>
</div>