
<!-- Die Frage ist noch mit Eugen Sauer zu klären, ob der signalNameRezNr noch zu übertragen ist, oder die Komponente es abfängt -->
<div class="text-center" style="font-size: 20px; color: blue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-style: italic;">Rezeptur Linie 3240</div>
<rez-dlg-pa-only class="ccw_context" params="serverName:'wf-broet3240\\I4SCADA', databaseName: 'Broet3240',
    signalNameRezNr: 'Fritsch3240DB1DBD60',    
    signalNamePaNr: 'Fritsch3240DB4DINT28',
    signalNameProdTyp: 'Fritsch3240DB4B26',
    signalNameSpsCnfg : 'Fritsch3240DB4INT38',
    signalNameRework: null,
    signalNamePaStart: 'Fritsch3240DB4W10DT',
    signalNamePaStop: 'Fritsch3240DB4W18DT',
    signalNamePlanLeistung: 'Fritsch3240DB4DINT32',
    signalNameFaktor: null,
    signalNameGebindeanzahl: 'Fritsch3240DB4INT36',
    signalNameNetzNr: 'Fritsch3240DB4DINT40',
    signalNameSollNachlauf: null,
    signalNameIstNachlauf: null,
    werk: 2,
    halle: 3,
    etage: 2,
    linie: 4,
    maschine: 40,
    anlagenNr: 7324002,
    zaehlerNr: 7324120,
    abteiNr: 250">
</rez-dlg-pa-only>