.ccw-wf-handventil2-ventilAus {
	fill: #c0c0c0;  /* grau */
}

.ccw-wf-handventil2-ventilAus2 {
	fill: #336666;  /* dunkelblaugruen */
}

.ccw-wf-handventil2-ventilEin {
  fill: #00ff00;  /* gruen */
}

.ccw-wf-handventil2-ventilStoer {
  fill: #ff0000;  /* rot */
}

.ccw-wf-handventil2-ventilStoerNeu {
  fill: #ff0000;  /* rot */
	
	animation-name: flash;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-handventil2-ventilOhneSignal {
    fill: #bb1bbb;
    /* rot */

    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /*Firefox 1+*/
    -webkit-animation-name: flash;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    /*Safari 3-4*/
    -moz-animation-name: flash;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}


@keyframes flash {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

/*Firefox 1+*/
@-webkit-keyframes flash {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*Safari 3-4*/
@-moz-keyframes flash {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}