.ccw-form-control {
    display: inline-block;
    width: 100%;
    padding: 0px 0px;
    margin: 0px;
    color: #000;
    background-color: white;
    background-image: none;
    border: 0px solid #ccc;
    border-radius: 0px;
}

.ccw-wf-time-picker-head-dialog {
    color: #fff;
    background-color: #337ab7;
  }

.ccw-wf-time-picker {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 1px solid #6b6969 !important;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    /* background-color: #dbdad7 !important; */
}

.ccw-time-picker-button{
	width: 100%;
	padding: 0px;
	background-color: transparent;
}

.quantity::-webkit-inner-spin-button, 
.quantity::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ccw-time-picker-input-noBorder{
	border:0;
	padding:0px;
}
.ccw-time-picker-fullWidth{
	width: 100%;
}

.ccw-time-picker-border{
	border: black thin solid;
	border-radius: 4px;
}

.ccw-time-picker-form-control{
	height:22px;
	border-radius: 2px;
	padding:0px 0px;
	text-align: right !important;
	margin-right: 5px;
	border: none;
}
.ccw-time-picker-input-group-addon{
	padding: 0px 4px;
	border-radius:2px;
	border-left: 1px solid #6b6969 !important;
}
.ccw-time-picker-layout {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 1px solid #6b6969 !important;
    border-radius: 2px;
    color: rgb(0, 0, 0);
}

.ccw-time-picker-unit {
	background-color: transparent;
	vertical-align: middle;
}

.ccw-wf-input-tastatur {
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border: 1px solid #6b6969 !important;
    border-radius: 2px;
    color: rgb(0, 0, 0);
    /* background-color: #dbdad7 !important; */
}
.ccw-wf-time-picker-display {
    display: inline;
    text-align: right;
}

.ccw-wf-time-picker-displayClass-xs {
    background-color: white !important;
}

.ccw-wf-time-picker-displayClassReadOnly-xs {
    background-color: #edecec;
}

.ccw-wf-time-picker-isBufferesClass-xs {
    background-color: #5bc0de !important;
}

.ccw-wf-time-picker-disabledClass-xs {
    background-color: #dbdad7 !important;
    color: rgb(0, 0, 0);
    cursor: help;
}

.ccw-wf-time-picker-disabledClassBlack-xs {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}

.ccw-wf-time-picker-markierungsClass-xs {
    background-color: rgba(255, 128, 0, 0.705) !important;
    color: rgb(49, 49, 49);
} 

.ccw-wf-time-picker-displayClass-fullWidth {
    width: 100%;
}

.ccw-wf-time-picker-focusClass-xs {
    background-color: rgb(244, 248, 8) !important;
    color: rgb(0, 0, 0);
}