.ccw-wf-fan4vdk-dialog1Blockout {
	z-index: 10011;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2)
}

.ccw-wf-fan4vdk-head-dialog1 {
	color: #fff;
	background-color: #337ab7;
}

.ccw-wf-fan4vdk-head-dialog2 {
	color: #fff;
	background-color: #33b77a;
}

.ccw-wf-fan4vdk-textSollwert {
	padding-right: 10px !important;
	font-size: 12px !important;
	font-weight: bold !important;
}

.ccw-wf-fan4vdk-dialogSollwertFeld {
	width: 50px !important;
	height: 22px !important;
	font-size: 14px !important;
	color: #000000;
}

.ccw-wf-fan4vdk-dialogSollwertFeldDisabled {
	width: 50px !important;
	height: 22px !important;
	font-size: 14px !important;
	color: #a0a0a0;
}

.ccw-wf-fan4vdk-dialogIstwertFeld {
	font-size: 14px !important;
}

.ccw-wf-fan4vdk-dialogStufenFeld {
	width: 72px;
	font-size: 14px !important;
}

.ccw-wf-fan4vdk-dialogButtonAuto {
	width: 80px;
	height: 40px;
	font-size: 16px !important;
	font-weight: bold !important;
}

.ccw-wf-fan4vdk-dialogButtonEinAus {
	width: 40px;
	height: 40px;
	font-size: 14px !important;
	font-weight: bold !important;
}

.ccw-wf-fan4vdk-dialogButtonJa {
	width: 80px;
	height: 40px;
	float: left !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.ccw-wf-fan4vdk-dialogButtonNein {
	width: 80px;
	height: 40px;
	float: right !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.ccw-wf-fan4vdk-statusFan {
	position: absolute;
	width: 40px;
	height: 40px;
}

.ccw-wf-fan4vdk-td {
	padding: 8px !important;
}

.ccw-wf-fan4vdk-antriebAus {
	fill: #c0c0c0;
	/* grau */
}

.ccw-wf-fan4vdk-antriebEin {
	fill: #00ff00;
	/* gruen */
}

.ccw-wf-fan4vdk-antriebAutoEin {
	fill: #00ff00;
	/* gruen */
}

.ccw-wf-fan4vdk-antriebHand {
	fill: #ffff00;
	/* gelb */
}

.ccw-wf-fan4vdk-antriebHandEin {
	fill: #0000ff;
	/* blau */
}

.ccw-wf-fan4vdk-antriebAutoSchnell {
	fill: #00a000;
	/* dunkelgruen */
}

.ccw-wf-fan4vdk-antriebAutoAus {
	fill: #c0c0c0;
	/* grau */
}

.ccw-wf-fan4vdk-antriebHandSchnell {
	fill: #0000ff;
	/* blau */
}

.ccw-wf-fan4vdk-antriebHandAus {
	fill: #ffff00;
	/* gelb */
}

.ccw-wf-fan4vdk-antriebAutoLangsam {
	fill: #00ff00;
	/* gruen */
}

.ccw-wf-fan4vdk-antriebHandLangsam {
	fill: #00ffff;
	/* hellblau */
}

.ccw-wf-fan4vdk-antriebStoer {
	fill: #ff0000;
	/* rot */
}

.ccw-wf-fan4vdk-antriebStoerNeu {
	fill: #ff0000;
	/* rot */

	animation-name: flash;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-fan4vdk-handAni {
	visibility: visible;

	animation-name: flashHand;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flashHand;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flashHand;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-fan4vdk-rotorAni-langsam {
	animation: rotorAni 4s infinite linear;
	-webkit-animation: rotorAni 4s infinite linear;
	-moz-animation: rotorAni 4s infinite linear;
}

.ccw-wf-fan4vdk-rotorAni-schnell {
	animation: rotorAni 2s infinite linear;
	-webkit-animation: rotorAni 2s infinite linear;
	-moz-animation: rotorAni 2s infinite linear;
}

@keyframes flash {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

/*Firefox 1+*/
@-webkit-keyframes flash {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

/*Safari 3-4*/
@-moz-keyframes flash {
	0% {
		opacity: 1.0;
	}

	50% {
		opacity: 0.0;
	}

	100% {
		opacity: 1.0;
	}
}

@keyframes flashHand {
	0% {
		opacity: 1.0;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 0.0;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 1.0;
	}
}

/*Firefox 1+*/
@-webkit-keyframes flashHand {
	0% {
		opacity: 1.0;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 0.0;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 1.0;
	}
}

/*Safari 3-4*/
@-moz-keyframes flashHand {
	0% {
		opacity: 1.0;
	}

	25% {
		opacity: 0.5;
	}

	50% {
		opacity: 0.0;
	}

	75% {
		opacity: 0.5;
	}

	100% {
		opacity: 1.0;
	}
}

@keyframes rotorAni {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}

@-webkit-keyframes rotorAni {
	0% {
		-webkit-transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(359deg);
	}
}

@-moz-keyframes rotorAni {
	0% {
		-moz-transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(359deg);
	}
}