.ccw-wf-weiche0-dialog1Blockout {
	z-index:10011;
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.2)
}

.ccw-wf-weiche0-head-dialog1 {
  color: #fff;
  background-color: #337ab7;
}

.ccw-wf-weiche0-head-dialog2 {
  color: #fff;
  background-color: #33b77a;
}

.ccw-wf-weiche0-textSollwert {
	padding-right: 10px !important;
	font-size: 12px !important;
	font-weight: bold !important;
}

.ccw-wf-weiche0-dialogSollwertFeld {
	width: 50px !important;
	height: 22px !important;
	font-size: 14px !important;
	color: #000000;
}

.ccw-wf-weiche0-dialogSollwertFeldDisabled {
	width: 50px !important;
	height: 22px !important;
	font-size: 14px !important;
	color: #a0a0a0;
}

.ccw-wf-weiche0-dialogIstwertFeld {
	font-size: 14px !important;
}

.ccw-wf-weiche0-dialogButtonHandAuto {
	width: 80px;
	height: 40px;
	font-size: 16px !important;
	font-weight: bold !important;
}

.ccw-wf-weiche0-dialogButtonEinAus {
	min-width: 80px;
	height: 40px;
	font-size: 14px !important;
	font-weight: bold !important;
}

.ccw-wf-weiche0-dialogButtonJa {
	width: 80px;
	height: 40px;
	float: left !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.ccw-wf-weiche0-dialogButtonNein {
	width: 80px;
	height: 40px;
	float: right !important;
	font-size: 16px !important;
	font-weight: bold !important;
}

.ccw-wf-weiche0-statusPump {
	position:absolute;
	width:40px;
	height:40px;
}

.ccw-wf-weiche0-td {
	padding: 1px !important;
}

.ccw-wf-weiche0-antriebAus {
	fill: #dbd8d8 !important;	/* grau */
}

.ccw-wf-weiche0-antriebEin {
  fill: #00ff00;  /* gruen */
}

.ccw-wf-weiche0-antriebHand {
  fill: #ffff00;  /* gelb */
}

.ccw-wf-weiche0-antriebHandEin {
  fill: #0000ff;  /* blau */
}

.ccw-wf-weiche0-antriebStoer {
  fill: #ff0000 !important;  /* rot */
}

.ccw-wf-weiche0-antriebHochlauf {
  fill: #00ff00;  /* gruen */
	
	animation-name: flash;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-weiche0-lauf {
  fill: #0000ff;  /* blau */
	
	animation-name: flash;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-weiche0-antriebStoerNeu {
  fill: #ff0000 !important;  /* rot */
	
	animation-name: flash;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flash;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flash;
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-weiche0-handAni {
  visibility: visible;
	
	animation-name: flashHand;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	/*Firefox 1+*/
	-webkit-animation-name: flashHand;
	-webkit-animation-duration: 1.5s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	/*Safari 3-4*/
	-moz-animation-name: flashHand;
	-moz-animation-duration: 1.5s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

.ccw-wf-weiche0-ohneSignal {
    fill: #bb1bbb !important;
    /* rot */

    animation-name: flash;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    /*Firefox 1+*/
    -webkit-animation-name: flash;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    /*Safari 3-4*/
    -moz-animation-name: flash;
    -moz-animation-duration: 0.5s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
}

@keyframes flash {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

/*Firefox 1+*/
@-webkit-keyframes flash {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/*Safari 3-4*/
@-moz-keyframes flash {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes flashHand {  
	0% { opacity: 1.0; }
	25% { opacity: 0.5; }
  50% { opacity: 0.0; }
	75% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

/*Firefox 1+*/
@-webkit-keyframes flashHand {  
	0% { opacity: 1.0; }
	25% { opacity: 0.5; }
  50% { opacity: 0.0; }
	75% { opacity: 0.5; }
	100% { opacity: 1.0; }
}

/*Safari 3-4*/
@-moz-keyframes flashHand {  
	0% { opacity: 1.0; }
	25% { opacity: 0.5; }
  50% { opacity: 0.0; }
	75% { opacity: 0.5; }
	100% { opacity: 1.0; }
}