<div class="jalousie-control-popover-view">
    <h5>Jalousiesteuerung</h5>
    <div class="blinds-popover-content">
        <div class="row m-x-0">
            <div class="col-xs-2 p-a-0">
                <wf-button class="block" params="signalName: signalName, writeValue: jalousieUpValue, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 1000, cssClass: 'btn-default btn btn-block', iconClass: 'wf wf wf-chevron-up'"></wf-button>
            </div>
            <div class="col-xs-2 p-a-0">
                <wf-button class="block" params="signalName: signalName, writeValue: 1, writeUpDelay: 1000, cssClass: 'btn-primary btn btn-block', iconClass: 'wf wf-blinds-1x3'"></wf-button>
            </div>
            <div class="col-xs-2 p-a-0">
                <wf-button class="block" params="signalName: signalName, writeValue: 2, writeUpDelay: 200, cssClass: 'btn-primary btn btn-block', iconClass: 'wf wf-blinds-1x2'"></wf-button>
            </div>
            <div class="col-xs-2 p-a-0">
                <wf-button class="block" params="signalName: signalName, writeValue: 3, writeUpDelay: 1000, cssClass: 'btn-primary btn btn-block', iconClass: 'wf wf-blinds-2x3'"></wf-button>
            </div>
            <div class="col-xs-2 p-a-0">
                <wf-button class="block" params="signalName: signalName, writeValue: 4, cssClass: 'btn-primary btn btn-block', iconClass: 'wf  wf-blinds'"></wf-button>
            </div>
            <div class="col-xs-2 p-a-0">
                <wf-button class="block" params="signalName: signalName, writeValue: jalousieDownValue, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 1000, cssClass: 'btn-default btn btn-block', iconClass: 'wf wf wf-chevron-down'"></wf-button>
            </div>
        </div>
    </div>
</div>