<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12">
            <wf-alarm-viewer params="   height: 500, 
                                        titleText:'Historische-Meldungen', 
                                        alarmGroups:[   'Kontikneter', 
                                                        'Gärschrank'], 
                                        tableView: true, 
                                        columns: ['StatusText', 'Active', 'Gone', 'Group', 'Type', 'AlarmTag', 'Text'], 
                                        onlineAlarmsMode: false"></wf-alarm-viewer>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-info" href="#meldeanzeige" role="button">
                Aktuelle Meldungen
            </a>
        </div>
    </div>

</div>
