<div class="container-fluid">
    
    <div class="row">
        <div class="col-xs-12">
            <wf-alarm-viewer params="height: 650,
                                     titleText:'Aktuelle-Alarme',
                                     alarmGroups:[  'Kontikneter', 
                                                    'Gärschrank'], 
                                     tableView: true, 
                                     alarmStatusFilter: 'Active', 
                                     columns: ['StatusText', 'Active', 'Gone', 'Group', 'Type', 'AlarmTag', 'Text']"></wf-alarm-viewer>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-info btn-block" href="#historischeMeldeanzeige" role="button">
                Historische Meldungen
            </a>
        </div>
        <div class="col-xs-offset-8 col-xs-2">
            <button class="btn btn-warning btn-block" role="button"
                data-bind="click: function () { openDialog('Ja','Nein','Quittieren Kontikneter 3240?','VMI3240DB1X3000',1)}, enable: UserLevel1, ccwSignalInfo: {}, signalName: 'VMI3240DB1X3000'"
                data-toggle="tooltip" title="Quittieren Kontikneter 3240">Quittieren</button>
        </div>



   
                      
    </div>

    
</div>
