<div style="display:none">
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showModal}" style="display: none;">
        <div class="modal-dialog modal-center">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button style="color: rgb(255, 255, 255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: close">&times;</button>
                    <div class="modal-title">{{connector.translate('I4SCADA_UM_Warning')()}}</div>
                </div>

                <div class="modal-body flexbox flexbox-y-center">        
                        <i class="fa fa-exclamation-circle modal-body-icon warning"></i>      
                        <label class="warning">{{connector.translate('I4SCADA_UM_AreYouSureDeleteEntry')()}}</label>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-sm btn-primary" data-bind="click: confirm">
                        <i class="wf wf-check"></i>
                        {{connector.translate('I4SCADA_UM_Confirm')()}}
                    </button>
                    <button class="btn btn-sm btn-default" data-bind="click: close">
                        <i class="wf wf-close-round-o"></i>
                        {{connector.translate('I4SCADA_UM_Cancel')()}}
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>