<div class="um-authorization-groups-page">
    <div class="p-x p-t p-b-sm">
        <div class="input-container">
            <div class="input-group m-b-sm input-group-sm">
                <input data-bind="textInput: searchText" type="text" class="form-control" placeholder="Such-Text">
                <span class="input-group-addon">
                    <i class="wf wf-search m-r-sm"></i>
                </span>
            </div>
            <i class="text-info wf wf-info m-r-sm"></i>
            <span class="text-info" data-bind="text: tableViewDS().length"></span>
            <span class="text-info">{{connector.translate('I4SCADA_UM_Of')()}}</span>
            <span class="text-info" data-bind="text: tableDS().length"></span>
            <span class="text-info">{{connector.translate('I4SCADA_UM_Dispayed')()}}</span>
            <span class="text-info" style="margin-left: 30px;">Datum:</span>
            <span class="text-info" style="margin-left: 2px; margin-right: 3px;" data-bind="text: dateStart"></span>
            <span class="text-info">-</span>
            <span class="text-info" style="margin-left: 3px;" data-bind="text: dateEnd"></span>
        </div>
    </div>
    <div style="top: 120px;bottom: 1px;right: 1px;left: 1px;position: absolute;">
        <div class="panel-body relative p-a-0" style="height:100%">
            <div class="overflow-y-scroll" data-bind="attr: {id: 'wrap_ua'}" style="height:100%">

                <table class="table table-striped table-hover " data-bind="fixTableHeader:{ wrapperId: 'wrap_ua'}, sortTable: {sortFunction: function(index, asc) { sortingData({ index: index, asc: asc }); }, iconCssClass: 'm-l-sm', excludeColumnIndexs: [4]}">

                    <thead>
                        <tr>
                            <th></th>
                            <th data-bind="click: onSortClick.bind($data, 'Time')" class="clickable">
                                {{connector.translate('I4SCADA_UM_Time')()}}
                                <i data-bind="visible: sortedColumn.name() === 'Time' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'Time' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                            <!-- <th data-bind="click: onSortClick.bind($data, 'Event')" class="clickable">
                                {{connector.translate('I4SCADA_UM_Event')()}}
                                <i data-bind="visible: sortedColumn.name() === 'Event' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'Event' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th> -->
                            <th data-bind="click: onSortClick.bind($data, 'Text')" class="clickable">
                                {{connector.translate('I4SCADA_UM_Text')()}}
                                <i data-bind="visible: sortedColumn.name() === 'Text' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'Text' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                            <th data-bind="click: onSortClick.bind($data, 'UserName')" class="clickable">
                                {{connector.translate('I4SCADA_UM_UserName')()}}
                                <i data-bind="visible: sortedColumn.name() === 'UserName' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'UserName' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                            <!-- <th data-bind="click: onSortClick.bind($data, 'AffectedUserName')" class="clickable">
                                {{connector.translate('I4SCADA_UM_AffectedUserName')()}}
                                <i data-bind="visible: sortedColumn.name() === 'AffectedUserName' && sortedColumn.order() === SortOrder.Desc"
                                   class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'AffectedUserName' && sortedColumn.order() === SortOrder.Asc"
                                   class="fa fa-sort-asc"></i>
                            </th> -->
                            <th data-bind="click: onSortClick.bind($data, 'ClientMachine')" class="clickable">
                                Client-PC
                                <i data-bind="visible: sortedColumn.name() === 'ClientMachine' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'ClientMachine' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                            <th data-bind="click: onSortClick.bind($data, 'AliasName')" class="clickable">
                                Alias-Name
                                <i data-bind="visible: sortedColumn.name() === 'AliasName' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'AliasName' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                            <th data-bind="click: onSortClick.bind($data, 'SignalOldValue')" class="clickable">
                                Alter Wert
                                <i data-bind="visible: sortedColumn.name() === 'SignalOldValue' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'SignalOldValue' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                            <th data-bind="click: onSortClick.bind($data, 'SignalNewValue')" class="clickable">
                                Neuer Wert
                                <i data-bind="visible: sortedColumn.name() === 'SignalNewValue' && sortedColumn.order() === SortOrder.Desc" class="fa fa-sort-desc"></i>
                                <i data-bind="visible: sortedColumn.name() === 'SignalNewValue' && sortedColumn.order() === SortOrder.Asc" class="fa fa-sort-asc"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: tableViewDS">
                        <tr>
                            <td data-bind="css: Icon"></td>
                            <td data-bind="text: Time"></td>
                            <!-- <td data-bind="text: Event"></td> -->
                            <td data-bind="text: Text"></td>
                            <td data-bind="text: UserName"></td>
                            <!-- <td data-bind="text: AffectedUserName"></td> -->
                            <td data-bind="text: ClientMachine"></td>
                            <!-- ko if: Signal == null -->
                            <td data-bind="text: AliasName"></td>
                            <!-- /ko -->
                            <!-- ko if: Signal != null -->
                            <td data-bind="text: AliasName"></td>
                            <!-- /ko -->
                            <td data-bind="text: SignalOldValue"></td>
                            <td data-bind="text: SignalNewValue"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- DIALOGS -->
<wf-um-time-interval-dialog params="showModalFromOutside: timeIntervalDialog.show,
                            confirmCallBackMethod: timeIntervalDialog.responseMethod,
                            userActionFilter: userActionFilter,
                            startOffset: settings.startOffset,
                            startOffsetIntervall: settings.startOffsetIntervall,
                            endOffset: settings.endOffset,
                            endOffsetIntervall: settings.endOffsetIntervall" />

<wf-um-filter-dialog params="showModalFromOutside: filterDialog.show,
                     confirmCallBackMethod: filterDialog.responseMethod,
                     userActionFilter: userActionFilter" />