<div style="display:none">
    <div class="modal fade" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showModal}" style="display: none;">
        <div class="modal-dialog modal-center">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button style="color: rgb(255, 255, 255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: close">&times;</button>
                    <div class="modal-title">{{connector.translate('I4SCADA_UM_PasswordPolicy')()}}</div>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="userLevel">{{connector.translate('I4SCADA_UM_EnforcePassHistory')()}}</label>
                        <input data-bind="value: passwordPolicy.EnforcePasswordHistoryCount, valueUpdate: 'afterkeydown'" min="0" max="24" required value="0" oninput="validity.valid||(value='0');" type="number" class="form-control" id="userLevel"
                            autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label for="autoLogOff">{{connector.translate('I4SCADA_UM_MinPassLength')()}}</label>
                        <input data-bind="value: passwordPolicy.MinPasswordLength, valueUpdate: 'afterkeydown'"  min="0" required value="0" oninput="validity.valid||(value='0');" type="number" class="form-control" id="autoLogOff"
                            autocomplete="new-password">
                    </div>
                    <div class="form-group">
                        <label for="maxFailedLogons">{{connector.translate('I4SCADA_UM_MaxPassAge')()}}</label>
                        <input data-bind="value: passwordPolicy.MaxPasswordAgeInDays, valueUpdate: 'afterkeydown'"  min="0" required value="0" oninput="validity.valid||(value='0');" type="number" class="form-control" id="maxFailedLogons"
                            autocomplete="new-password">
                    </div>
                    <div class="checkbox">
                        <label><input data-bind="checked: passwordPolicy.MustContainDigits" type="checkbox" value="">{{connector.translate('I4SCADA_UM_MustContainDigits')()}}</label>
                    </div>
                    <div class="checkbox">
                        <label><input data-bind="checked: passwordPolicy.MustContainUpperCaseChars" type="checkbox" value="">{{connector.translate('I4SCADA_UM_MustContainsUpperCase')()}}</label>
                    </div>
                    <div class="checkbox">
                        <label><input data-bind="checked: passwordPolicy.MustContainLowerCaseChars" type="checkbox" value="">{{connector.translate('I4SCADA_UM_MustContainsLowerCase')()}}</label>
                    </div>
                    <div class="checkbox">
                        <label><input data-bind="checked: passwordPolicy.MustContainSpecialChars" type="checkbox" value="">{{connector.translate('I4SCADA_UM_MustContainsSpecialChars')()}}</label>
                    </div>
                </div>

                <div class="modal-footer">
                    <button data-bind="click: onClickSavePasswordPolicySettings" class="btn btn-sm btn-primary">
                        <i class="wf wf-check"></i>
                        {{connector.translate('I4SCADA_UM_Save')()}}
                    </button>
                    <button data-bind="click: close" class="btn btn-sm btn-default">
                        <i class="wf wf-close-round-o"></i>
                        {{connector.translate('I4SCADA_UM_Cancel')()}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>