<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top" style="width:auto;min-width:320px;margin:100px 0px 0px 0px"
        data-bind="draggable:{}">
        <div class="modal-content modal-lg" data-bind="attr: { id: modalContentID }">
            <div class="modal-header modal-primary">
                <button type="button" class="close" style="margin-left:4px" data-dismiss="modal" aria-hidden="true"
                    data-bind="click: abbruch">
                    <i class="wf wf-close-round-o" style="color: white;"></i>
                </button>
                <i class="fa fa-question-circle-o"
                    style="color: yellow; font-size: 32px; margin-right: 15px; vertical-align: top;"></i>
                <h4 class="modal-title" style="display: inline-block;">
                    <!-- ko if: txHeader() -->
                    <span data-bind="html: txHeader"></span>
                    <!-- /ko -->
                </h4>
            </div>
            <!-- ko if: txContent() -->
            <div class="modal-body" style="max-width: 500px;">
                <span data-bind="html: txContent"></span>
            </div>
            <hr>
            <!-- /ko -->
            <div class="modal-body" style="height:64px">
                <!-- ko if: txJa() -->
                <button class="btn btn-primary" style="float:left;width:auto;min-width:80px" data-dismiss="modal"
                    aria-hidden="true" data-bind="text: txJa, click: closeOk"></button>
                <!-- /ko -->
                <!-- ko if: txNein() -->
                <button class="btn btn-primary" style="float:right;width:auto;min-width:80px" data-dismiss="modal"
                    aria-hidden="true" data-bind="text: txNein, click: close"></button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>