<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content"
            data-bind="ccwDraggable:{}, dragId: 'titleBarDialogcwLogInOutMsg', BGclose: true, ESCclose: true">
            <div id="titleBarDialogcwLogInOutMsg" class="modal-header" data-bind="style: { background-color: bckCl() }">
                <button type="button" class="close" style="margin:4px" data-dismiss="modal" aria-hidden="true"
                    data-bind="click: close">
                    <i class="wf wf-close-round-o"></i>
                </button>
                <h4 class="modal-title">
                    <span data-bind="text: param1"></span>
                </h4>
            </div>
            <div class="modal-body">
                <h3 class="modal-content-title">
                    <span data-bind="html: param2"></span>
                </h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true"
                    data-bind="click: close">Ok</button>
            </div>
        </div>
    </div>
</div>