<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <div class="row">
                    <div class="col-md-6">
                        <h4 class="modal-title" data-bind="text: $data.header">
                        </h4>
                    </div>
                    <div class="col-md-5">
                        <h4 class="modal-title">
                            <span data-bind="text: komponente"></span>
                        </h4>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="false" data-bind="click: close">&times;</button>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <ul class="nav nav-pills">
                    <li class="active">
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="#tab1" data-toggle="tab">Komponente 1</a>
                            </div>
                            <div class="col-sm-4">
                                <wf-state-symbol params="tooltipText:'aktuell ausgewählte Komponente', 
                                    states:[
                                        {conditionRule:'%$data.selectedKomponente% == 1', cssClassName:'wf wf-check-round running'},
                                        {conditionRule:'%$data.selectedKomponente% != 1', cssClassName:'wf wf-check-round normal'}
                                    ]">
                                </wf-state-symbol>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="#tab2" data-toggle="tab">Komponente 2</a>
                            </div>
                            <div class="col-sm-4">
                                <wf-state-symbol params="tooltipText:'aktuell ausgewählte Komponente', 
                                            states:[
                                                {conditionRule:'%$data.selectedKomponente% == 2', cssClassName:'wf wf-check-round running'},
                                                {conditionRule:'%$data.selectedKomponente% != 2', cssClassName:'wf wf-check-round normal'}
                                            ]">
                                </wf-state-symbol>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="#tab3" data-toggle="tab">Komponente 3</a>
                            </div>
                            <div class="col-sm-4">
                                <wf-state-symbol params="tooltipText:'aktuell ausgewählte Komponente', 
                                                    states:[
                                                        {conditionRule:'%$data.selectedKomponente% == 3', cssClassName:'wf wf-check-round running'},
                                                        {conditionRule:'%$data.selectedKomponente% != 3', cssClassName:'wf wf-check-round normal'}
                                                    ]">
                                </wf-state-symbol>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="row">
                            <div class="col-sm-8">
                                <a href="#tab4" data-toggle="tab">Komponente 4</a>
                            </div>
                            <div class="col-sm-4">
                                <wf-state-symbol params="tooltipText:'aktuell ausgewählte Komponente', 
                                                    states:[
                                                        {conditionRule:'%$data.selectedKomponente% == 4', cssClassName:'wf wf-check-round running'},
                                                        {conditionRule:'%$data.selectedKomponente% != 4', cssClassName:'wf wf-check-round normal'}
                                                    ]">
                                </wf-state-symbol>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div class="tab-pane active" id='tab1'>
                        <table class="table table-condensed table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="tableBreiteSpalte3 antriebeBeschriftungTable">Kommentar</th>
                                    <th class="tableBreiteSpalte4 antriebeBeschriftungTable">Soll</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge PC-Wert'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_1, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_2, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_3, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'minimaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_4, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Verstärkung P'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_5, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Nachstellzeit TN'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_6, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Stellgrößeneinfluß'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName1_7, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane bg-success" id='tab2'>
                        <table class="table table-condensed table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="tableBreiteSpalte3 antriebeBeschriftungTable">Kommentar</th>
                                    <th class="tableBreiteSpalte4 antriebeBeschriftungTable">Soll</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge PC-Wert'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_1, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_2, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_3, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'minimaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_4, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Verstärkung P'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_5, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Nachstellzeit TN'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_6, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Stellgrößeneinfluß'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName2_7, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane bg-warning" id='tab3'>
                        <table class="table table-condensed table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="tableBreiteSpalte3 antriebeBeschriftungTable">Kommentar</th>
                                    <th class="tableBreiteSpalte4 antriebeBeschriftungTable">Soll</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge PC-Wert'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_1, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_2, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_3, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'minimaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_4, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Verstärkung P'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_5, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Nachstellzeit TN'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_6, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Stellgrößeneinfluß'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName3_7, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane bg-info" id='tab4'>
                        <table class="table table-condensed table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th class="tableBreiteSpalte3 antriebeBeschriftungTable">Kommentar</th>
                                    <th class="tableBreiteSpalte4 antriebeBeschriftungTable">Soll</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge PC-Wert'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_1, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximale Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_2, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'maximaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_3, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'minimaler grenzwert für max. Fördermenge'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_4, staticUnitText: 'kg/h', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Verstärkung P'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_5, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Nachstellzeit TN'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_6, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                                <tr>
                                    <!-- Kommentar  ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <span class="" data-bind="text: 'Stellgrößeneinfluß'"></span>
                                    </td>
                                    <!-- Soll ############################################## -->
                                    <td class="antriebeSeiteTd">
                                        <ccw-wf-input-tastatur-2 params="signalName: $data.signalName4_7, staticUnitText: '', format: '0,0.00', writeToBuffer: true, elemBreite: '100%', elemBreiteVal:'70%', disableInputFeld: !userFreigabe()"></ccw-wf-input-tastatur-2>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button class="btn btn-success btn-md inline" type="submit" data-bind="enable: userFreigabe(), click: function (){sendWerteZurSps()}, css: sendBtnCss">Werte
                        zur SPS</button>
                    <wf-buffer-button class="btn-xs inline" params="buttonText: 'Lösche Buffer', iconClass: 'wf wf-arrow-undo', clearBuffer: true, cssClass: 'btn-default btn-md'"></wf-buffer-button>
                    <button class="btn btn-md btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="text: 'Schließen', click: close"></button>
                </div>
            </div>
        </div>
    </div>
</div>