.margin-0 {
    margin: 0px !important;
}

.margin-2 {
    margin: 2px !important;
}

.margin-4 {
    margin: 4px !important;
}

.margin-6 {
    margin: 6px !important;
}

.margin-8 {
    margin: 8px !important;
}

.margin-10 {
    margin: 10px !important;
}
.ccw-panel-small-padding{
    padding: 4px;
}     
.ccw-panel{
    background-color: transparent;
}  
.ccw-icon-custom-size-2 {
    font-size: 22px;
    width: 22px;
    height: 22px;
    line-height: 22px;
}

.rez-info-padding #rezeptDlg {
    padding: 4px 2px 2px 0px;
}

.padding-0 {
    padding: 0px !important;
}
.padding-1 {
    padding: 1px !important;
}
.padding-2 {
    padding: 2px !important;
}

.padding-4 {
    padding: 4px !important;
}

.padding-6 {
    padding: 6px !important;
}

.padding-8 {
    padding: 8px !important;
}

.padding-10 {
    padding: 10px !important;
}

.border-thin {
    border-radius: 2px;
    border: 1px #000 solid;
}

#weg_1409 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_3014 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_3010 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#Extension82 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1214 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2101 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#wb_Text1 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text1 div {
    text-align: center;
}

#wb_Text2 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text2 div {
    text-align: center;
}

#allg_Pumpe3.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#allg_Pumpe3 .wf-state-container:after {
    color: #333333;
}

#allg_Pumpe3 .wf-state-container:before {
    color: #D3D3D3;
}

#allg_Pumpe4.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#allg_Pumpe4 .wf-state-container:after {
    color: #333333;
}

#allg_Pumpe4 .wf-state-container:before {
    color: #D3D3D3;
}

#weg_2241 .state1 .wf-svg-line {
    stroke: #00FEFE;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2242 .state1 .wf-svg-line {
    stroke: #00FEFE;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2240 .state1 .wf-svg-line {
    stroke: #00FEFE;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2220 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2221 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2222 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2105 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2106 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2107 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#wb_Text3 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text3 div {
    text-align: center;
}

#weg_2204 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#allg_Pumpe2.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#allg_Pumpe2 .wf-state-container:after {
    color: #333333;
}

#allg_Pumpe2 .wf-state-container:before {
    color: #D3D3D3;
}

#weg_1102 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1151 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#allg_bar_cip1_2 .progressbar-tick {
    color: #C5C5C5 !important;
}

#allg_bar_cip1_2 .progressbar-tick:before {
    border-color: #C5C5C5 !important;
}

#allg_bar_cip1_2 .progress.vertical {
    background: #F5F5F5 !important;
    background-image: none !important;
}

#allg_bar_cip1_1 .progressbar-tick {
    color: #C5C5C5 !important;
}

#allg_bar_cip1_1 .progressbar-tick:before {
    border-color: #C5C5C5 !important;
}

#allg_bar_cip1_1 .progress.vertical {
    background: #F5F5F5 !important;
    background-image: none !important;
}

#weg_1100 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#Extension25 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#Extension26 .state1 .wf-svg-line {
    stroke: #7FFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil11.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil11 .wf-state-container:after {
    color: #333333;
}

#ventil11 .wf-state-container:before {
    color: #D3D3D3;
}

#ventil1.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil1 .wf-state-container:after {
    color: #333333;
}

#ventil1 .wf-state-container:before {
    color: #1E90FF;
}

#ventil2.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil2 .wf-state-container:after {
    color: #333333;
}

#ventil2 .wf-state-container:before {
    color: #1E90FF;
}

#ventil10.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil10 .wf-state-container:after {
    color: #333333;
}

#ventil10 .wf-state-container:before {
    color: #D3D3D3;
}

#weg_2104 .state1 .wf-svg-line {
    stroke: #FFFF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_2201 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#allg_Pumpe1.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#allg_Pumpe1 .wf-state-container:after {
    color: #333333;
}

#allg_Pumpe1 .wf-state-container:before {
    color: #D3D3D3;
}

#wb_Text4 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text4 div {
    text-align: center;
}

#wb_Text14 {
    background-color: #FFFF57;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
    -moz-box-shadow: 0px 0px 3px #000000;
    -webkit-box-shadow: 0px 0px 3px #000000;
    box-shadow: 0px 0px 3px #000000;
}

#wb_Text14 div {
    text-align: center;
}

#tank_sensor_oben.wf-shape .wf-state-container {
    background-color: #F0FFF0;
    width: 15px;
    height: 15px;
}

.wf-ellipse .wf-state-container {
    border-radius: 50%;
}

#tank_sensor_oben.wf-triangle .wf-state-container {
    background: linear-gradient(to right bottom, #F0FFF0 50%, transparent 50%)
}

#tank_sensor_unten.wf-shape .wf-state-container {
    background-color: #FFFF00;
    width: 15px;
    height: 15px;
}

.wf-ellipse .wf-state-container {
    border-radius: 50%;
}

#tank_sensor_unten.wf-triangle .wf-state-container {
    background: linear-gradient(to right bottom, #FFFF00 50%, transparent 50%)
}

#ventil3.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil3 .wf-state-container:after {
    color: #333333;
}

#ventil3 .wf-state-container:before {
    color: #1E90FF;
}

#weg_1201 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1301 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1401 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#Extension42 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#Extension43 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1302 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1303 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil5.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil5 .wf-state-container:after {
    color: #333333;
}

#ventil5 .wf-state-container:before {
    color: #1E90FF;
}

#ventil4.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil4 .wf-state-container:after {
    color: #333333;
}

#ventil4 .wf-state-container:before {
    color: #5ED300;
}

#ventil6.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil6 .wf-state-container:after {
    color: #333333;
}

#ventil6 .wf-state-container:before {
    color: #5ED300;
}

#ventil7.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil7 .wf-state-container:after {
    color: #333333;
}

#ventil7 .wf-state-container:before {
    color: #1E90FF;
}

#weg_1402 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1403 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil8.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil8 .wf-state-container:after {
    color: #333333;
}

#ventil8 .wf-state-container:before {
    color: #5ED300;
}

#ventil9.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil9 .wf-state-container:after {
    color: #333333;
}

#ventil9 .wf-state-container:before {
    color: #1E90FF;
}

#weg_1153 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1211 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1212 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil22.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil22 .wf-state-container:after {
    color: #333333;
}

#ventil22 .wf-state-container:before {
    color: #FFD700;
}

#weg_1205 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1207 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg1311 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1313 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#allg_Pumpe5.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#allg_Pumpe5 .wf-state-container:after {
    color: #333333;
}

#allg_Pumpe5 .wf-state-container:before {
    color: #D3D3D3;
}

#weg_1312 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1305 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#Extension69 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1411 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1413 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#allg_Pumpe6.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#allg_Pumpe6 .wf-state-container:after {
    color: #333333;
}

#allg_Pumpe6 .wf-state-container:before {
    color: #D3D3D3;
}

#weg_1412 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1405 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1406 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil17.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil17 .wf-state-container:after {
    color: #333333;
}

#ventil17 .wf-state-container:before {
    color: #1E90FF;
}

#weg_1407 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil19.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil19 .wf-state-container:after {
    color: #333333;
}

#ventil19 .wf-state-container:before {
    color: #00FEFE;
}

#ventil18.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil18 .wf-state-container:after {
    color: #333333;
}

#ventil18 .wf-state-container:before {
    color: #FFD700;
}

#weg_3013 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_3012 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil15.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil15 .wf-state-container:after {
    color: #333333;
}

#ventil15 .wf-state-container:before {
    color: #1E90FF;
}

#weg_3015 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_3016 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_3018 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_3019 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#ventil12.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil12 .wf-state-container:after {
    color: #333333;
}

#ventil12 .wf-state-container:before {
    color: #1E90FF;
}

#ventil13.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil13 .wf-state-container:after {
    color: #333333;
}

#ventil13 .wf-state-container:before {
    color: #1E90FF;
}

#ventil28.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil28 .wf-state-container:after {
    color: #333333;
}

#ventil28 .wf-state-container:before {
    color: #D3D3D3;
}

#ventil27.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil27 .wf-state-container:after {
    color: #333333;
}

#ventil27 .wf-state-container:before {
    color: #D3D3D3;
}

#wb_Text5 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text5 div {
    text-align: left;
}

#ventil30.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.00);
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil30 .wf-state-container:after {
    color: #333333;
}

#ventil30 .wf-state-container:before {
    color: #00FEFE;
}

#ventil31.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil31 .wf-state-container:after {
    color: #333333;
}

#ventil31 .wf-state-container:before {
    color: #FFFF00;
}

#wb_Text6 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text6 div {
    text-align: left;
}

#wb_Text7 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text7 div {
    text-align: left;
}

#wb_Text8 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text8 div {
    text-align: left;
}

#wb_Text9 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text9 div {
    text-align: left;
}

#wb_Text10 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text10 div {
    text-align: center;
}

#wb_Text11 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text11 div {
    text-align: left;
}

#wb_Text12 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text12 div {
    text-align: left;
}

#wb_Text13 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text13 div {
    text-align: left;
}

#wb_Text15 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: right;
}

#wb_Text15 div {
    text-align: right;
}

#wb_Text16 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_Text16 div {
    text-align: left;
}

#wb_Text17 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: center;
}

#wb_Text17 div {
    text-align: center;
}

#weg_1105 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1210 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#wb_allg_cip2 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_allg_cip2 div {
    text-align: left;
}

#wb_allg_cip1 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_allg_cip1 div {
    text-align: left;
}

#wb_allg_cip3 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_allg_cip3 div {
    text-align: left;
}

#wb_allg_cip4 {
    background-color: transparent;
    background-image: none;
    border: 0px #000000 solid;
    padding: 0;
    margin: 0;
    text-align: left;
}

#wb_allg_cip4 div {
    text-align: left;
}

#weg_1310 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}


#weg_1410 .state1 .wf-svg-line {
    stroke: #00FF00;
    stroke-width: 2px;
    line-opacity: 1;
    stroke-dasharray: 0;
}

#allg_bar_cip2 .progressbar-tick {
    color: #C5C5C5 !important;
}

#allg_bar_cip2 .progressbar-tick:before {
    border-color: #C5C5C5 !important;
}

#allg_bar_cip2 .progress.vertical {
    background: #F5F5F5 !important;
    background-image: none !important;
}

#allg_bar_cip3 .progressbar-tick {
    color: #C5C5C5 !important;
}

#allg_bar_cip3 .progressbar-tick:before {
    border-color: #C5C5C5 !important;
}

#allg_bar_cip3 .progress.vertical {
    background: #F5F5F5 !important;
    background-image: none !important;
}

#allg_bar_cip4 .progressbar-tick {
    color: #C5C5C5 !important;
}

#allg_bar_cip4 .progressbar-tick:before {
    border-color: #C5C5C5 !important;
}

#allg_bar_cip4 .progress.vertical {
    background: #F5F5F5 !important;
    background-image: none !important;
}

#ventil25.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil25 .wf-state-container:after {
    color: #333333;
}

#ventil25 .wf-state-container:before {
    color: #FFD700;
}

#ventil21.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil21 .wf-state-container:after {
    color: #333333;
}

#ventil21 .wf-state-container:before {
    color: #00FEFE;
}

#ventil26.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil26 .wf-state-container:after {
    color: #333333;
}

#ventil26 .wf-state-container:before {
    color: #FFD700;
}

#ventil24.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil24 .wf-state-container:after {
    color: #333333;
}

#ventil24 .wf-state-container:before {
    color: #00FEFE;
}

#ventil20.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil20 .wf-state-container:after {
    color: #333333;
}

#ventil20 .wf-state-container:before {
    color: #FFD700;
}

#ventil23.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil23 .wf-state-container:after {
    color: #333333;
}

#ventil23 .wf-state-container:before {
    color: #FFD700;
}

#ventil16.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil16 .wf-state-container:after {
    color: #333333;
}

#ventil16 .wf-state-container:before {
    color: #1E90FF;
}

#ventil14.icon-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: solid 0px #FFFFFF;
    border-radius: 0px;
    transform: scale(1, 1);
}

#ventil14 .wf-state-container:after {
    color: #333333;
}

#ventil14 .wf-state-container:before {
    color: #1E90FF;
}


/***********************************/
/*Eigene nachträglich hinzugefügt */
/***********************************/

.ventileFarbeTurkis {
    color: #00FEFE;
}

.allgemeinBild1,
.allgemeinBild2 {
    position: absolute;
    top: 10px;
    left: 230px;
    width: 70px;
    height: 70px;
    /*border: 1px solid red;*/
}

.allgemeinBild2 {
    top: 90px;
}

.allgemeinBild1Text,
.allgemeinBild2Text {
    position: absolute;
    top: 20px;
    left: 302px;
    /*width: 70px;*/
    /*height: 30px;*/
    /*border: 1px solid red;*/
}

.allgemeinBild2Text {
    top: 100px;
}

.allgemeinBild1Wert1,
.allgemeinBild2Wert1 {
    position: absolute;
    top: 16px;
    left: 235px;
    width: 62px;
    /*height: 20px;*/
    /*border: 1px solid red;*/
    background-color: #5ED300;
}

.allgemeinBild2Wert1 {
    top: 100px;
}

.allgemeinButtonCip2Bypass,
.allgemeinButtonCip3Bypass,
.allgemeinButtonCip4Bypass {
    position: absolute;
    top: 520px;
    left: 430px;
    width: 150px;
}

.allgemeinButtonCip3Bypass {
    left: 600px;
}

.allgemeinButtonCip4Bypass {
    left: 770px;
}

.myDivZentriert {
    /*display: flex ;*/
    /*align-items: center ;*/
    /*justify-content: center;*/
    border: 1px solid red;
}

.wf-chart-zoom:hover {
    background-color: yellow;
}

.buttonHandAuto {
    width: 50px;
}
.buttonEinAus{
    width: 40px;
}

.ccw-state-text-indicate {
	width: 100%;
	padding: 2px;
	text-align: center;
	font-size: 12px;
    font-weight: bold;
    color:  rgb(77, 77, 77);
    background-color:  rgb(0, 255, 0);
}

.ccw-state-text-default {
	width: 100%;
	padding: 2px;
	text-align: center;
    font-size: 12px;
	font-weight: bold;
    color:  rgb(0, 0, 0);
    background-color:  rgb(220, 220, 220);
}
.ccw-state-text-indicate-error {
	width: 100%;
	padding: 2px;
	text-align: center;
    font-size: 12px;
	font-weight: bold;
    color:  white;
    background-color:  rgb(255, 0, 0);
}

.ccw-panel-footer {
    background-color: #e8e8e8;
}
.ccw-progress-bar-grau {
    background-image: -webkit-linear-gradient(top, #c9c9c9 0, #e2e2e2 100%);
    background-image: -o-linear-gradient(top, #c9c9c9 0, #e2e2e2 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c9c9c9), to(#e2e2e2));
    background-image: linear-gradient(to bottom, #c9c9c9 0, #e2e2e2 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc9c9c9', endColorstr='#ffe2e2e2', GradientType=0)
}

.ccw-progress-bar-white {
    background-image: -webkit-linear-gradient(top, #ffffff 0, #c4c4c4 100%);
    background-image: -o-linear-gradient(top, #ffffff 0, #c4c4c4 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#c4c4c4));
    background-image: linear-gradient(to bottom, #ffffff 0, #c4c4c4 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffc4c4c4', GradientType=0)
}

.ccw-progress-bar-yellow {
    background-image: -webkit-linear-gradient(top, #ffffaa 0, #fafa87 100%);
    background-image: -o-linear-gradient(top, #ffffaa 0, #fafa87 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffaa), to(#fafa87));
    background-image: linear-gradient(to bottom, #ffffaa 0, #fafa87 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffaa', endColorstr='#fffafa87', GradientType=0)
}

.ccw-progress-bar-orange {
    background-image: -webkit-linear-gradient(top, #f49232 0, #fa8e22 100%);
    background-image: -o-linear-gradient(top, #f49232 0, #fa8e22 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f49232), to(#fa8e22));
    background-image: linear-gradient(to bottom, #f49232 0, #fa8e22 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff49232', endColorstr='#fffa8e22', GradientType=0)
}

.ccw-progress-bar-rot {
    background-image: -webkit-linear-gradient(top, #ffc0c0 0, #fd9393 100%);
    background-image: -o-linear-gradient(top, #ffc0c0 0, #fd9393 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc0c0), to(#fd9393));
    background-image: linear-gradient(to bottom, #ffc0c0 0, #fd9393 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0c0', endColorstr='#fffd9393', GradientType=0)
}

.ccw-progress-bar-blau {
    background-image: -webkit-linear-gradient(top, #c0c0ff 0, #9494fa 100%);
    background-image: -o-linear-gradient(top, #c0c0ff 0, #9494fa 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c0c0ff), to(#9494fa));
    background-image: linear-gradient(to bottom, #c0c0ff 0, #9494fa 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc0c0ff', endColorstr='#ff9494fa', GradientType=0)
}

.ccw-progress-bar-mint {
    background-image: -webkit-linear-gradient(top, #99ffcc 0, #79ffbc 100%);
    background-image: -o-linear-gradient(top, #99ffcc 0, #79ffbc 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#99ffcc), to(#79ffbc));
    background-image: linear-gradient(to bottom, #99ffcc 0, #79ffbc 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff99ffcc', endColorstr='#ff79ffbc', GradientType=0)
}

.ccw-progress-bar-gruen {
    background-image: -webkit-linear-gradient(top, #008000 0, #01a801 100%);
    background-image: -o-linear-gradient(top, #008000 0, #01a801 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#008000), to(#01a801));
    background-image: linear-gradient(to bottom, #008000 0, #01a801 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008000', endColorstr='#ff01a801', GradientType=0)
}

.ccw-container {
    position: relative;
    width: 100%;
    max-width: 400px;
}

/* Make the image to responsive */
.ccw-image {
    width: 100%;
    height: auto;
}

/* The overlay effect (full height and width) - lays on top of the container and over the image */
.ccw-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.25);
}

/* The icon inside the overlay is positioned in the middle vertically and horizontally */
.ccw-icon {
    color: red;
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.dlgPadding #rezeptDlg {
    padding: 2px !important;
}

.ccw-panel-heading-padding-small {
    padding: 4px 8px !important;
}

.back-blue {
    background-color: #7dccf3 !important;
}

.back-green {
    background-color: #9df77a !important;
}

.back-yellow {
    background-color: #fce573 !important;
}

.back-gray {
    background-color: #929292 !important;
}

.back-primary {
    background-color: #6091bd !important;
}

.back-unset {
    background-color: unset;
}

.ccw-success {
    color: rgb(0, 0, 0);
}

.hr {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
}