.rezepttableBreiteSpalte1 {
	width: 5%;
}
.rezepttableBreiteSpalte2 {
	width: 10%;
}
.rezepttableBreiteSpalte3 {
	width: 10%;
}
.rezepttableBreiteSpalte4 {
	width: 2%;
}
.rezepttableBreiteSpalte5 {
	width: 7%;
}
.rezepttableBreiteSpalte6 {
	width: 9%;
}
.rezepttableBreiteSpalte7 {
	width: 7%;
}
.rezepttableBreiteSpalte8 {
	width: 7%;
}
.rezepttableBreiteSpalte9 {
	width: 7%;
}
.rezepttableBreiteSpalte10 {
	width: 7%;
}
.rezepttableBreiteSpalte11 {
	width: 7%;
}
.rezepttableBreiteSpalte12 {
	width: 16%;
}