<div class="container-fluid">
    <header>
        <h1 class="page-header">i4SCADA App - HTML5 Components for Alarming</h1>
    </header>
    <div class="row m-b-md">
        <div class="col-xs-12">
            <wf-alarm-viewer></wf-alarm-viewer>
        </div>

        <div class="col-xs-12">
            <wf-alarm-viewer params="onlineAlarmsMode: false, height: 250, tableView: true" ></wf-alarm-viewer>
        </div>
    </div>

    <!--<pre data-bind="text: ko.toJSON(filter.alarmStatusFilter(), null, 2)"></pre>-->
</div>