<div class="container-fluid">
    <header>
        <h1 class="page-header">i4SCADA App - Misc Graphical Components</h1>
    </header>

    <div class="row b-b p-b-md m-b-md">

        <div class="col-xs-12">
            <h3>Basic Modifier Class Names</h3>
        </div>

        <div class="col-xs-12">
            <h3>Button Colors</h3>
            <!-- Standard button -->
            <button type="button" class="btn btn-default">btn-default</button>
            <button type="button" class="btn btn-primary ">btn-primary</button>
            <button type="button" class="btn btn-success inline">btn-success</button>
            <button type="button" class="btn btn-info">btn-info</button>
            <button type="button" class="btn btn-warning">btn-warning</button>
            <button type="button" class="btn btn-danger">btn-danger</button>
            <button type="button" class="btn btn-link">btn-link</button>
            <button class="btn btn-variant-dark">btn-variant-dark</button>
        </div>

        <div class="col-xs-12">
            <h3 class="m-y">Button Sizes</h3>
            <button type="button" class="btn btn-lg btn-default">btn-lg</button>
            <button type="button" class="btn btn-primary">Default size</button>
            <button type="button" class="btn btn-sm btn-default">btn-sm</button>
            <button type="button" class="btn btn-xs btn-default">btn-xs</button>
        </div>
    </div>

    <div class="row b-b p-b-md m-b-md">
        <dic class="col-xs-12">
            <h3>Status Colors</h3>
        </dic>
        <div class="col-xs-6 col-sm-2">
            <h5>normal</h5>
            <i class="normal wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>running |green</h5>
            <i class="running wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>warning | orange</h5>
            <i class="warning wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>error | red</h5>
            <i class="error wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>maintenance | hand</h5>
            <i class="maintenance wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>critical</h5>
            <i class="critical wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>brown</h5>
            <i class="brown wf-electric wf-motor wf-4x"></i>
        </div>
        <div class="col-xs-6 col-sm-2">
            <h5>yellow</h5>
            <i class="yellow wf-electric wf-motor wf-4x"></i>
        </div>
    </div>

    <div class="row b-b p-b-md m-b-md">
        <div class="col-xs-12">
            <h4>General Sizes</h4>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-1x</h5>
            <i class="wf-1x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-2x</h5>
            <i class="wf-2x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-3x</h5>
            <i class="wf-3x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-4x</h5>
            <i class="wf-4x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-5x</h5>
            <i class="wf-5x wf-lg wf-full-screen"></i>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>wf-6x</h5>
            <i class="wf-6x wf-lg wf-full-screen"></i>
        </div>
    </div>

    <div class="row b-b p-b-md m-b-md">
        <div class="col-xs-12">
            <h4>Rotation</h4>
        </div>
        <div class="col-sm-2 col-lg-1">
            <h5>&nbsp;</h5>
            <h5>wf-r-0</h5>
            <i class=" wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-se</h5>
            <h5>wf-r-45</h5>
            <i class="wf-se wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-s</h5>
            <h5>wf-r-90</h5>
            <i class="wf-s wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-sw</h5>
            <h5>wf-r-135</h5>
            <i class="wf-sw wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-w</h5>
            <h5>wf-r-180</h5>
            <i class="wf-w wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-nw</h5>
            <h5>wf-r-225</h5>
            <i class="wf-nw wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-n</h5>
            <h5>wf-r-270</h5>
            <i class="wf-n wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-ne</h5>
            <h5>wf-r-315</h5>
            <i class="wf-ne wf-2x wf-lg wf-arrow-metro"></i>
        </div>

        <div class="col-sm-2 col-lg-1">
            <h5>wf-e</h5>
            <h5>wf-r-360</h5>
            <i class="wf-e wf-2x wf-lg wf-arrow-metro"></i>
        </div>
    </div>

    <div class="row b-b p-b-md m-b-md">
        <div class="col-xs-12">
            <h3>Markers Elements</h3>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker marker-primary</h5>
            <div class="marker marker-primary center-block" data-bind="click: clicked">
                <div class="pulse pulse-blue"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker marker-danger</h5>
            <div class="marker marker-danger center-block" data-bind="click: clicked">
                <div class="pulse pulse-danger"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker marker-success</h5>
            <div class="marker marker-success center-block" data-bind="click: clicked">
                <div class="pulse pulse-success"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker marker-warning</h5>
            <div class="marker marker-warning center-block" data-bind="click: clicked">
                <div class="pulse pulse-warning"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker marker-info</h5>
            <div class="marker marker-info center-block" data-bind="click: clicked">
                <div class="pulse pulse-info"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
    </div>

    <div class="row b-b p-b-xlg m-b-md">
        <div class="col-xs-12">
            <h3>Markers Sizes</h3>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker-sm</h5>
            <div class="marker-sm marker-primary center-block" data-bind="click: clicked">
                <div class="pulse pulse-blue"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker | marker-md </h5>
            <div class="marker-md marker-primary center-block" data-bind="click: clicked">
                <div class="pulse pulse-blue"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker-lg </h5>
            <div class="marker-lg marker-primary center-block" data-bind="click: clicked">
                <div class="pulse pulse-blue"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
        <div class="col-xs-4 col-sm-2 text-center">
            <h5 class="m-y">marker-xlg </h5>
            <div class="marker-xlg marker-primary center-block" data-bind="click: clicked">
                <div class="pulse pulse-blue"></div>
                <i class="marker-icon wf wf-heat"></i>
            </div>
        </div>
    </div>


    <div class="row b-b p-b-md m-b-md">
        <div class="col-xs-12">
            <h3>Callout elements</h3>
        </div>

        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-info">
                <h4 class="wf-callout-box-title">Info Callout</h4>
                <p>wf-callout-box wf-callout-box-info</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-success">
                <h4 class="wf-callout-box-title">Success Callout</h4>
                <p>wf-callout-box wf-callout-box-success</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-danger">
                <h4 class="wf-callout-box-title">Danger Callout</h4>
                <p>wf-callout-box wf-callout-box-danger</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-warning">
                <h4 class="wf-callout-box-title">Warning Callout</h4>
                <p>wf-callout-box wf-callout-box-warning</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-primary">
                <h4 class="wf-callout-box-title">Primary Callout</h4>
                <p>wf-callout-box wf-callout-box-primary</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-default">
                <i class="wf-callout-box-icon wf-lg wf-server"></i>
                <h4 class="wf-callout-box-title">Default Callout</h4>
                <p>Default callout with any icon</p>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="wf-callout-box wf-callout-box-default">
                <i class="wf-callout-box-icon wf-lg wf-bell animated swing infinite text-danger"></i>
                <h4 class="wf-callout-box-title">Example Callout</h4>
                <p>Callout with an icon</p>
            </div>
        </div>
    </div>

    <div class="row b-b p-b-md m-b-md">
        <div class="col-xs-12">
            <h3>Positioning with Flexbox</h3>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center</h5>
            <div class="flexbox flexbox-v-center bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center flexbox-h-center</h5>
            <div class="flexbox flexbox-v-center flexbox-h-center bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center flexbox-h-end</h5>
            <div class="flexbox flexbox-v-center flexbox-h-end bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-center flexbox-h-justified</h5>
            <div class="flexbox flexbox-v-center flexbox-h-justified bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
                <i class="wf-lg wf-target wf-4x"></i>
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-start</h5>
            <div class="flexbox flexbox-v-start bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h5>flexbox flexbox-v-end</h5>
            <div class="flexbox flexbox-v-end bg-normal" style="height: 100px;">
                <i class="wf-lg wf-target wf-4x"></i>
            </div>
        </div>
    </div>

    <div class="row b-b p-b-xxlg">
        <div class="col-xs-12 m-b-xxlg">
            <h3>Banner / Ribbon Elements</h3>
        </div>

        <div class="visible-xs p-y-xlg"></div>

        <div class="col-md-2 p-x-lg">
            <div class="wf-ribbon wf-ribbon-l-t has-shadow">
                <span class="wf-ribbon-title">Ribbon 1
                    <small>wf-ribbon-l-t</small>
                </span>
            </div>
        </div>
        <div class="visible-xs p-y-lg"></div>
        <div class="col-sm-2 p-x-lg">
            <div class="wf-ribbon wf-ribbon-l-b has-shadow">
                <span class="wf-ribbon-title">Ribbon 2
                    <small>wf-ribbon-l-b</small>
                </span>
            </div>
        </div>
        <div class="visible-xs p-y-lg"></div>
        <div class="col-sm-2 p-x-lg">
            <div class="wf-ribbon wf-ribbon-r-b has-shadow">
                <span class="wf-ribbon-title">Ribbon 3
                    <small>wf-ribbon-r-b</small>
                </span>
            </div>
        </div>
        <div class="visible-xs p-y-lg"></div>
        <div class="col-sm-2 p-x-lg">
            <div class="wf-ribbon wf-ribbon-r-t has-shadow">
                <span class="wf-ribbon-title">Ribbon 4
                    <small>wf-ribbon-r-t</small>
                </span>
            </div>
        </div>
        <div class="visible-xs p-y-lg"></div>
        <div class="col-sm-2 p-x-lg">
            <div class="wf-ribbon wf-ribbon-l-b wf-ribbon-r-t has-shadow">
                <span class="wf-ribbon-title">Ribbon 2
                    <small>wf-ribbon-l-b</small>
                </span>
            </div>
        </div>
    </div>
</div>